.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./bg.jpeg");
  background-size: cover;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 30vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  border-radius: 20px 20px 20px 20px;
  border-color: rgb(139, 7, 206);
  padding: 10px;
  margin: 20px;
}

button {
  border-radius: 5px;
  font-weight: bolder;
  border: 0;
  background-color: rgb(139, 7, 206);
  color: #fff;
  padding: 10px;
  margin: 20px;
  outline: none;
  cursor: pointer;
  box-shadow: none;
}

button:focus {
  outline: none;
}

.weather-info {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.weather-info div {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: #fff;
  font-weight: bolder;
}

.temp {
  background-color: #0066ff;
  opacity: 0.5;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 20px 20px 20px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  color: #fff;
  font-weight: bolder;
}
